OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL=qwen3.5:9b


# Set CPU Usage for LLM library. Options: cpu_avx2, cpu_avx512, cpu_avx512_vnni, cpu_avx512_bf16, cpu_avx512_fp16, cpu_avx512_int8, cpu_avx512_int4
# set OLLAMA_LLM_LIBRARY=cpu_avx2

# echo %OLLAMA_LLM_LIBRARY%
	# cpu_avx2

# ollama serve